:root {
  --primary: #21243D;
  --secondary: #FFD082;

  --text-light: #E3E3E3;
  --text-dark: #3E3E3E;

  --white: #F8F8F8;
  --black: #000000;
}

//Padronizaçães gerais
html {
  @apply text-$text-dark;
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 28px;
  scroll-behavior: smooth;
  overflow-x: hidden;

  text-shadow: 0px 0px 1px var(--primary);
}

* {
  transition: all 0.3s ease-in-out;
}

// Padronizações individuais
h1 {
  @apply text-$text-light;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
}
h2 {
  font-family: 'Montserrat';
  @apply font-bold;
  font-size: 48px;
  line-height: 59px;
}

p {
  @apply uppercase;
}
a {
  @apply underline;
}

.bright {
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #FFFFFF,
                1px 1px 3px var(--primary),
                -1px -1px 3px var(--primary);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
    line-height: 20px;
    @apply text-center;
  }

  // Padronizações individuais
  h1 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 20px;
    line-height: 22px;
  }
}